
*{
    padding: 0;
    margin: 0;
}


.todo-panel {
  width: 800px;
  height: 500px;
  margin-top: 250px;
}


.todo-panel form {
    height: 150px;
}

.input-txt {
  width: 350px !important;
}

.output-txt {
  width: 450px;
}

.todo-actions .icon {
  font-size: 1.3rem;
}

.todo-card {
  border-radius: 18pt !important;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}


@media screen and (max-width: 480px) {
  .todo-panel {
     width: 350px;
     height: 100%;
  }
  
  .todo-panel form {
    height: 100px;
  }

  .input-txt {
    width: 250px !important;
    margin-left: 20px;
  }

  .output-txt {
    width: 110px;
  }

  .todo-actions .icon {
    font-size: 1.1rem;
  }

}